#in-progress-section {
  margin-top: 2rem;
}

#in-progress-list .card {
  cursor: pointer;
}

.progress-item {
  margin-bottom: 1rem;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.progress-bar {
  height: 100%;
  background-color: var(--accent);
  border-radius: 5px;
}

.cert-btn {
  margin-top: 0.5rem;
}